USE [master]
GO
/****** Object:  Database [QLSanBongFinal]    Script Date: 7/23/2022 12:02:55 PM ******/
CREATE DATABASE [QLSanBongFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSanBongFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSanBongFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSanBongFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSanBongFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSanBongFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSanBongFinal]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/23/2022 12:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [varchar](100) NULL,
	[Password] [varchar](max) NULL,
	[DisplayName] [nvarchar](100) NULL,
	[UserType] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 7/23/2022 12:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[IDHoaDon] [int] NULL,
	[IDFWA] [int] NULL,
	[SoLuong] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietLichDat_SanBong]    Script Date: 7/23/2022 12:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLichDat_SanBong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_LDSB] [int] NULL,
	[ID_KVSB] [int] NULL,
	[ID_KH] [int] NULL,
	[NgayDat] [date] NULL,
	[KhungGio_BatDat] [time](7) NULL,
	[KhungGio_KetThuc] [time](7) NULL,
	[GhiChu] [nvarchar](200) NULL,
	[TrangThai] [smallint] NULL,
 CONSTRAINT [PK_ChiTietLichDat_SanBong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FWA]    Script Date: 7/23/2022 12:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FWA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDLoaiFWA] [int] NULL,
	[TenFWA] [nvarchar](100) NULL,
	[GiaTien] [int] NULL,
	[image] [varchar](max) NULL,
 CONSTRAINT [PK_FWA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 7/23/2022 12:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCTLDSB] [int] NULL,
	[IDKhachHang] [int] NULL,
	[NgayLapBill] [datetime] NULL,
	[NgayXuatBill] [datetime] NULL,
	[ThanhTien] [int] NULL,
	[GiamGia] [float] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 7/23/2022 12:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[FB] [varchar](50) NULL,
	[SoLanDat] [int] NULL,
	[Loai_KH] [nvarchar](20) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc_SanBong]    Script Date: 7/23/2022 12:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc_SanBong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[GiaTien] [int] NULL,
	[KhungGio_BatDau] [time](7) NULL,
	[KhungGio_KetThuc] [time](7) NULL,
 CONSTRAINT [PK_KhuVuc_SanBong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichDat_SanBong]    Script Date: 7/23/2022 12:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichDat_SanBong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_KVSB] [int] NULL,
	[ID_KH] [int] NULL,
	[NgayDat_BatDau] [date] NULL,
	[NgayDat_KetThuc] [date] NULL,
	[KhungGioDat_BatDau] [time](7) NULL,
	[KhungGioDat_KetThuc] [time](7) NULL,
 CONSTRAINT [PK_LichDat_SanBong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiFWA]    Script Date: 7/23/2022 12:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiFWA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiFWA] [nvarchar](100) NULL,
 CONSTRAINT [PK_LoaiFWA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Username], [Password], [DisplayName], [UserType]) VALUES (N'admin', N'admin', N'admin', N'FullQuyen')
INSERT [dbo].[Account] ([Username], [Password], [DisplayName], [UserType]) VALUES (N'quanly', N'quanly', N'Người quản lý', N'NguoiQuanLy')
INSERT [dbo].[Account] ([Username], [Password], [DisplayName], [UserType]) VALUES (N'nhanvien', N'nhanvien', N'Quản trị viên', N'NhanVien')
GO
SET IDENTITY_INSERT [dbo].[FWA] ON 

SET IDENTITY_INSERT [dbo].[FWA] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ID], [HoTen], [SDT], [FB], [SoLanDat], [Loai_KH]) VALUES (10, N'Van Duc', N'0326393540', NULL, 0, NULL)
INSERT [dbo].[KhachHang] ([ID], [HoTen], [SDT], [FB], [SoLanDat], [Loai_KH]) VALUES (11, N'Minh Quang', N'03263988485', NULL, 0, NULL)
INSERT [dbo].[KhachHang] ([ID], [HoTen], [SDT], [FB], [SoLanDat], [Loai_KH]) VALUES (12, N'Hung Thuan', N'01234854121', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuVuc_SanBong] ON 

INSERT [dbo].[KhuVuc_SanBong] ([ID], [Ten], [GiaTien], [KhungGio_BatDau], [KhungGio_KetThuc]) VALUES (5, N'Sân A - Buổi Sáng', 180000, CAST(N'05:00:00' AS Time), CAST(N'11:00:00' AS Time))
INSERT [dbo].[KhuVuc_SanBong] ([ID], [Ten], [GiaTien], [KhungGio_BatDau], [KhungGio_KetThuc]) VALUES (6, N'Sân A - Buổi Chiều', 280000, CAST(N'11:00:00' AS Time), CAST(N'17:00:00' AS Time))
INSERT [dbo].[KhuVuc_SanBong] ([ID], [Ten], [GiaTien], [KhungGio_BatDau], [KhungGio_KetThuc]) VALUES (7, N'Sân A - Buổi Tối', 500000, CAST(N'17:00:00' AS Time), CAST(N'23:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[KhuVuc_SanBong] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiFWA] ON 

INSERT [dbo].[LoaiFWA] ([ID], [TenLoaiFWA]) VALUES (1, N'Phụ kiện')
INSERT [dbo].[LoaiFWA] ([ID], [TenLoaiFWA]) VALUES (2, N'Nước uống')
INSERT [dbo].[LoaiFWA] ([ID], [TenLoaiFWA]) VALUES (3, N'Thức ăn')
SET IDENTITY_INSERT [dbo].[LoaiFWA] OFF
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_SoLanDat]  DEFAULT ((0)) FOR [SoLanDat]
GO
USE [master]
GO
